
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0 10%;
}

nav {
	position: sticky;
	padding: 0.8rem;
	margin-left: 4rem;
	margin-right: 3rem;
}

nav ul li {
	display: inline-block;
	margin: 0.5rem;
}

.right-nav {
	list-style-type: none;
	text-align: right;
	float: right;
}

.tuitt-button {
	background-color: #c2195b ;
	border-radius: 25px;
	border: 0;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem 1rem;
}

.apply-button {
	background-color: #c2195b ;
	border-radius: 25px;
	border: 0;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem 2rem;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: cover;
	background-position: center;
	min-height: 35vh;
	margin-top: 0;
}

.front-bg {
	color: white;
	padding: 0 0% 1% 0%;	
	background: rgba(0, 0, 0, 0.5);
}

.container {
	text-align: right;
	width: 40%;
	margin-left: 55%;
	padding-bottom: 2.5%;
}

.intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.prefooter-description {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-align: center;
}

.intro-description {
	text-align: justify;
	margin-bottom: 4rem;
}

.title, .title-2 {
	font-family: 'Zilla Slab', serif;
}

.title {
	text-align: right;
	font-size: 2.5rem;
	font-weight: bold;
}

.title-2 {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	font-weight: 600;
	font-size: 2.5rem;

}
.subtitle {
	font-size: 1.2rem;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-right: 0;
}

.prefooter {
 	background-color: #f7fbfb;
 	text-align: center;
 }

.book-button {
	background-color: #336589;
	border-radius: 25px;
	padding: .5rem 2rem;
	border: 0;	
	margin-left: 45%;
	margin-bottom: 10%;

	color: white;
}

footer {
	text-align: center;
}